.createCriteria {
  overflow: auto;
  z-index: 3333;

  .actionButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    .actionButton {
      flex: 1 1 auto;
      margin: 5px;
    }
    .saveButton {
      flex: 5 1 auto;
    }
  }
}
