$height: 444px;
#mapContainer {
  margin: 0 auto;
  width: 95%;
  height: $height;
  transition: max-height 450ms cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  outline-width: 0;
  &.visible {
    max-height: ($height + 1);
  }
  &.hidden {
    max-height: 0;
  }
  .leaflet-control-attribution{
    font-size: 0.6em;
  }
  .info {
    position: relative;
    top: 10px;
    left: 10px;
    max-width: 95%;
    z-index: 2000;
    padding: 10px;
  }
}
